<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Misión
    </div>
    <div class="card-body">
        {% if mision %}
            {% for item in mision %}
                <p>{{ item.mision }}</p>
            {% endfor %}
        {% else %}
            <p>No hay misión guardada para esta empresa.</p>
        {% endif %}
    </div>
    <div class="card-footer">
        <form id="mision-form">
            <div class="mb-3">
                <label for="mision" class="form-label">{{ 'Actualizar Misión' if mision else 'Nueva Misión' }}</label>
                <textarea class="form-control" id="misions" name="misions" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">{{ 'Actualizar Misión' if mision else 'Guardar Misión' }}</button>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    $(document).ready(function() {

    

        $('#mision-form').on('submit', function(event) {
            event.preventDefault();

            var misionValue = document.getElementById('misions').value;

            if (!misionValue.trim()) { 
                swal({
                    icon: 'error',
                    title: '¡Error!',
                    text: 'Por favor, ingrese la misión antes de guardar.',
                });
                return; 
        
            }

            var empresaSeleccionada = JSON.parse(localStorage.getItem('empresa_seleccionada'));
            if (!empresaSeleccionada) { 
                swal({
                    icon: 'error',
                    title: '¡Error!',
                    text: 'No se ha seleccionado ninguna empresa.',
                });
                return; 
            }

            var formData = {
                mision: misionValue,
                empresa_id: empresaSeleccionada.id,
                nombre_empresa: empresaSeleccionada.nombre
            };

            $.ajax({
                url: "{{ url_for('mision.save_mision') }}",
                type: "POST",
                data: formData,
                success: function(response) {
                    swal({
                        icon: 'success',
                        title: '¡Misión guardada exitosamente!',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function() {
                        location.reload();
                    });
                },
                error: function(response) {
                    swal({
                        icon: 'error',
                        title: '¡Error!',
                        text: 'Error al guardar la misión',
                    });
                }
            });
        });
    });
</script>
